* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(plane-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    z-index: 2;
}

.footer {
    width: 250px;
    display: block;
    margin: 0 auto;
    z-index: 2;
}

.container {
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    /* background-color: #fff; */
    background-color: rgba(251, 251, 251, 0.5);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    z-index: 1;
}

.title, .description {
    position: relative;
    z-index: 2;
}

.container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    background-image: url('logo-header.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    transform: translate(-50%, -50%);
    z-index: 1;
}

h1, p {
    margin: 10px;
}

/* No need to change title, description, buttons, btn - currently */
.title {
    text-decoration: underline;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}


/* Loading Screen Styles */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.box {
    width: 20px;
    height: 20px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    animation: grow-shrink 1.7s infinite;
}

#box1 {
    animation-delay: 0s;
}

#box2 {
    animation-delay: 0.2s;
}

#box3 {
    animation-delay: 0.4s;
}

#box4 {
    animation-delay: 0.6s;
}

#box5 {
    animation-delay: 0.8s;
}

@keyframes grow-shrink {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}
