
<!DOCTYPE html>
<html lang="en" clms:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellbeing-Waitlist Portal</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <img src="/logo-header.png" alt="Wellbeing-Waitlist Logo-Header" class="header">
    <img src="/logo-footer.png" alt="Wellbeing-Waitlist Logo-Footer" class="footer">
    <br>
    <div class="container">
        <div class="content-box">
            <h1 class="title">Wellbeing-Waitlist</h1>
            <br>
            <p class="description">
                The <strong>Wellbeing-Waitlist</strong> portal is designed to streamline patient management by prioritizing those in need of urgent medical attention. By utilizing advanced AI algorithms to assess emergency levels based on patient symptoms, the portal ensures that the most critical cases are addressed first. This system helps hospitals provide faster, more efficient care while ensuring no patient is overlooked. With an automated and fair approach to patient prioritization, <strong>Wellbeing-Waitlist</strong> enhances the overall hospital workflow and improves patient outcomes.
            </p>
            <div class="buttons">
                <a href="/register" class="btn">Register Yourself</a>
                <a href="/details" class="btn">Check Details</a>
            </div>
        </div>
    </div>

    <div id="loading-screen" style="display: none">
        <div class="box" id="box1"></div>
        <div class="box" id="box2"></div>
        <div class="box" id="box3"></div>
        <div class="box" id="box4"></div>
        <div class="box" id="box5"></div>
    </div>
</body>
</html>
